{% extends 'structure.html' %}
{% block title %}Créer cours{% endblock %}
{% block content %}
    <form action="{% url 'creer_cours' %}" method="post" id="forms">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="container bg-grey">
            <h2>TDs</h2>
            {{ td_inter_form.as_p }}
        </div>

        <div class="container bg-grey">
            <h2>TPs</h2>
            {{ tp_inter_form.as_p }}
        </div>
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}